html {
  scroll-behavior: smooth;
}

body {
  margin-top: 0;
}

nav {
  align-items: center;
  align-content: space-around;
  background-color: var(--azul_principal);
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-around;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

nav button {
  background-color: white;
  width: auto;
  border-radius: 5px;
  height: 35px;
}

nav input {
  background-color: whitesmoke;
  border-radius: 5px;
  height: 35px;
}

nav img {
  height: 45px;
}

nav a:hover {
  color: #fffb03;
  justify-content: space-between;
}

.imageHome img {
  margin-top: 15px;
  height: 500px;
}

.imageHome p {
  margin-top: 15px;
  max-width: 500px;
  font-size: 22px;
  color: #2d46b6;
}

.hamburger span {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: #fffb03;
}

.separacao span {
  width: 100%;
  height: 5px;
  background-color: #2d46b6;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  width: 50px;
}

.barraNav {
  margin-top: 0px;
}

.menuHamburger {
  display: none;
}

@media (max-width: 768px) {
  .menuHamburger {
    display: flex;
  }

  nav a,
  button {
    display: none;
  }

  nav {
    margin: 0;
    justify-content: flex-end;
    position: absolute;
  }
}

.principal {
  align-items: center;
  margin-top: 70px;
  display: flex;
  /* border: solid 5px green; */
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.principal div {
  max-width: 800px;
}
.topDiv {
  text-align: center;
}

.topDiv p {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 100;
  /* max-width: 600px; */
  padding: 5px;
}

.cadastro {
  align-items: center;
  margin-top: 70px;
  /* border: solid 5px orange; */
  padding: 10px;
  text-align: center;
  font-size: 22px;
  justify-content: space-around;
}

#nomeMarca {
  font-weight: 1000;
  font-size: 70px;
  font-style: italic;
}

.home {
  /* border: red solid 10px; */
  margin-top: 30px;
}

.estrategica {
  align-items: center;
}

.equipe img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.equipe {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  text-align: center;
  /* border: solid 2px blueviolet; */
}
.equipe div {
  /* border: solid 2px red; */
  width: 12%;
}

.quemSomos {
  align-content: space-around;
  align-items: center;
  /* border: solid 5px yellow; */
  background-color: #d1e5ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  height: 700px;
}

#comoSurgiu {
  align-items: center;
  /* border: solid 5px rgb(33, 38, 83); */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  height: 700px;
}

#comoSurgiu h1 {
  font-size: 28px;
  font-weight: bolder;
}

#comoSurgiu aside {
  font-size: 22px;
  padding-left: 20%;
  padding-right: 20%;
}

#posicionamento {
  align-items: center;
  /* border: solid 5px rgb(33, 38, 83); */
  background-color: #d1e5ff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  height: 700px;
}

#posicionamento h1 {
  font-size: 28px;
  font-weight: bolder;
}

#posicionamento div {
  max-width: 45%;
  justify-content: space-around;
  /* border: lawngreen solid 2px; */
}

#posicionamento img {
  max-width: 95%;
}
#posicionamento h2 {
  font-size: 22px;
  font-weight: boldr;
}
#posicionamento h3 {
  font-size: initial;
  font-weight: boldr;
}

#posicionamento aside {
  font-size: 18px;
  padding-left: 20%;
  padding-right: 20%;
}

#quemSomosEsquerda {
  /* border: solid 2px yellowgreen; */
  width: 45%;
  font-size: 22px;
  justify-content: space-around;
}

.slogan h1 {
  font-size: 50px;
  font-weight: bolder;
  color: #2d46b6;
}
.topHome h1 {
  font-size: 80px;
  font-weight: bolder;
  color: #2d46b6;
}
.pTop {
  margin-top: 25px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  max-width: 600px;
  padding: 5px;
}
.textHome {
  margin-top: 25px;
  /* margin-bottom: 100px; */
  text-align: justify;
  text-indent: 50px;
  font-size: 30px;
  font-weight: 100;
  max-width: 600px;
  padding: 5px;
}

.itensHome {
  display: flex;
  flex-direction: row;
}

.itensHome img {
  margin-top: 25px;
  height: 120px;
  width: 120px;
}
.itensTextHome {
  align-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  font-size: 30px;
  font-weight: 100;
  max-width: 700px;
}
.botoes {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.botaoAzul {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #2d46b6;
  color: #2d46b6;
  height: auto;
  min-width: 150px;
  margin-top: 25px;
  margin-left: 20px;
  padding: 10px;
  font-size: x-large;
}

.botaoAzul:hover {
  background-color: #2d46b6;
  color: white;
}

.logosParceiros {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  text-align: center;
}
.logosParceiros div {
  width: 300px;
}

.cadastroNovosParceiros {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  /* topo | direita | inferior | esquerda */
  margin: 20px auto 40px auto;
}
.funcionalidades {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  text-align: center;
}

.funcionalidades img {
  margin-top: 40px;
}

.funcionalidades p {
  justify-content: center;
  align-self: center;
  padding: 15px;
}

.funcionalidades div {
  width: 280px;
  height: 280px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: #2d46b6 solid 5px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.redesSociais img {
  margin-top: 5px;
  height: 70px;
}
.redesSociaisRodape img {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  height: 40px;
}

a {
  text-decoration: none;
}

.redesSociaisRodape a {
  text-decoration: none;
  align-content: center;
  align-items: center;
  margin-top: 1px;
}

.logosAceleradoras {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  text-align: center;
}
.logosAceleradoras div {
  width: 15%;
}
.logosParceiros img,
.logosAceleradoras img {
  height: 150px;
  width: 150px;
}

.logosAceleradoras img,
.logosParceiros img,
.redesSociais img,
.redesSociaisRodape img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

img:hover {
  -webkit-filter: none;
  filter: none;
}

footer {
  font-size: 25px;
  display: flex;
  background-color: #2d46b6;
  color: white;
  height: 50px;
  align-items: center;
}

.contato {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 100px;
  font-size: 25px;
  justify-content: space-around;
}

#license {
  align-items: center;
  text-align: center;
}
#faleConosco {
  font-size: 25px;
  margin-top: 10px;
  text-align: left;
  display: flex;
  background-color: rgb(200, 224, 255);
  /* background-color: #2d46b6; */
  /* color: white; */
  color: #2d46b6;
  height: 200px;
  justify-content: space-around;
  align-items: initial;
  padding-top: 20px;
  padding-bottom: 20px;
}
