:root {
  --azul_principal:#2d46b6; 
  --font_titulo: 40px;
  --font_corpo:25px;
  --font_descricao:14px
  --font_rotulo: 12px;
  --color_titulo:#256BA6;
  
  /* --div_parceiros:
  --div_funcionalidades: */

}

